.navbar-container {
    background: linear-gradient(135deg, #b7f1f8 0%, #12d8ee 100%);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    color: black;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    padding: 0rem 2rem 0rem 0rem;
}

.nav-links {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
  
    a {
      color: white;
      text-decoration: none;
      padding: 0.5rem 1rem;
      border-radius: 15px;
      transition: all 0.3s ease-in-out;
    }
  
    a.active {
      background: rgba(255, 255, 255, 0.6);
      color: #333;
    }
  
    a:hover {
      background: rgba(255, 255, 255, 0.8);
      color: #333;
    }
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    gap: 1rem;
  
    svg {
      cursor: pointer;
      color: white;
      transition: transform 0.3s ease;
    }
  
    svg:hover {
      transform: scale(1.1);
    }
}
  
.cart-icon-link {
    position: relative;
}
  
.cart-icon-link.active::before {
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background: #ff69b4;
    border-radius: 50%;
    border: 2px solid white;
}
@media (max-width: 768px) {
    .navbar-container {
      flex-direction: column;
      padding: 1rem;
    }
  
    .logo {
      padding: 0;
      margin-bottom: 1rem;
    }
  
    .nav-links {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-links a {
      padding: 0.5rem 0.5rem;
    }
  
    .icon-container {
      margin-top: 1rem;
      
    }
  }
  